<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Busqueda|PriceSeeker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-banner.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-footer.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-product.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-perfil.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-searcher.css')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <style>body{background-color: #d9d9d9;}</style>
</head>
<body>

<!--Banner/menu de arriba-->
<div class="banner">
    <div class="logo">
      <img src="{{url_for('static', filename= 'images/logo.png')}}" alt="Logo">
      <span class="nombre_sitio"><a href="{{ url_for('inicio') }}" class="nombre_sitio">
            PriceSeeker
          </a>
        </span>
    </div>

    <!--Buscador-->
  <div class="buscador" style="text-align: center;">
    <form method="get" action="/busqueda">
      <input type="text" id="buscador" name="q" value="{{ termino }}" placeholder="Buscar productos" autocomplete="off">
      <button type="submit"><a href="{{url_for('busqueda')}}" class="icon"><i class="fa-solid fa-magnifying-glass fa-xl"></i></a></button>
    </form>

    <!--Mostrar los productos-->
    <div id="resultados"></div>
  </div>
  <br><br>

  <!--Iniciar sesion-->
  <div class="perfil" style="display: flex; padding-right:4%;"> 
    <a href= "{{ url_for('iniciar_sesion')}}" style="color: #ffffff; text-decoration: none">                                                      
      Iniciar Sesion
    </a>
  </div>
</div> 
<br><br>

<!--Grid para poner los productos-->
  <div class="grid-container">
    {% for resultado in resultados %}
      <div class="product">
        <a href="/producto/{{ resultado.id_producto }}">
          {% if not resultado.imagen %}
            <img src="/static/images/ND.jpeg" class="image">
          {% else %}
            <img src="{{ resultado.imagen }}" alt="" class="image">
          {% endif %}
        </a>
        <div class="content">
          <h5 class="title">{{resultado.descripcion}}</h5>
          <p class="pre">{{resultado.precio}}</p>
          <p class="text">{{resultado.tienda}}</p>
        </div>
    </div>
    {% endfor %}
  </div>
  <br><br>

<!--Cambiar de pagina-->
  <div style="text-align: center;">
    <a href="/busqueda?q={{ termino }}&pagina_actual={{ pagina_actual - 1 if pagina_actual > 1 else 1 }}&pagina_final={{ pagina_final }}"><i class="fa-solid fa-arrow-left fa-xl" style="color: #000000;"></i></a>
    <span style="font-family: Jacques Francois, Regular; font-size: 18px; color: #000000">{{ pagina_actual }} de {{ pagina_final }}</span>
	  <a href="/busqueda?q={{ termino }}&pagina_actual={{ pagina_actual + 1 if pagina_actual < pagina_final else pagina_actual }}&pagina_final={{ pagina_final }}"><i class="fa-solid fa-arrow-right fa-xl" style="color: #000000;"></i></a>
  </div>    
    <br><br>

    <footer>
      <p>@PriceSeeker <br> Todos los derechos reservados 2024</p>
    </footer>
</body>
<script src="{{ url_for('static', filename='js/busquedaRealTime.js') }}"></script>
</html>
