<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio|PriceSeeker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-ads.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-banner.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-footer.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-menu.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-perfil.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-results.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-searcher.css')}}">

  <style>body{background-color: #d9d9d9;}</style>
</head>

<body>
  <!--Banner/menu de arriba-->
    <div class="banner">
        <div class="logo">
            <img src="{{url_for('static', filename= 'images/logo.png')}}" alt="Logo">
            <span class="nombre_sitio">
                PriceSeeker
            </span>
        </div>

  <!--Listas-->
        <div class="perfil" style=" padding-left: 65%">
          <button>
            <i class="fa-solid fa-clipboard-list fa-2xl" style="color:#ffffff;"></i>
          </button>
          <!-- Crear una lista -->
          <div class="content">
            {% if mensaje  %}
              {{mensaje}}
            {% endif %}
            <form action="/crear_lista" method="post">
            <input type="text" required name="nombre_lista" placeholder="Nombre de la lista">
            <button type="submit">Crear lista</button></form>
            {%for lista in listas_descripcion%}
              <a href="/lista_antes/{{ lista.id_lista }}"></a>{{lista.nombre_lista}}
            {% endfor %}
          </div>
        </div>

  <!--Perfil de usuario-->
        <div class="perfil">
          <button>                                                          
            <i class="fa-solid fa-user fa-2xl" style="color: #ffffff; padding-right:15px;"></i>
          </button>
          <!--Menu desplegable de la cuenta-->
          <div class="content">
            <a href="{{url_for('cuenta')}}" class="options" style="padding-right: 10px;">Cuenta</a>
            <a href="{{url_for('logout')}}" class="options" style="padding-right: 10px;">Cerrar Sesión</a>
          </div>
        </div>
    </div> 

<!--Menu desplegable de las categorias -->
    <div class="menu">                     
      <button id="hamburguer">
        <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i>  
      </button>
      <div id="meat"  class="content">
        <form method="get" action="/busqueda_categorias">
          {% for categoria in categorias %}
            <button type="submit"><a href="{{ url_for('busqueda_categorias', id_categoria = categoria.id_categoria) }}"class="cat">{{ categoria.nombre_categoria }}</a></button>
          {% endfor %}
        </form>
      </div>
    </div>
    <br><br>

    <!--Bienvenida-->
    <h1 class="bienvenue">Hola {{usuario.nombre }} {{ usuario.apellido }}<span></span></h1>
    <br><br>

  <!--Buscador.-->
  <div class="buscador" style="text-align: center;">
    <form method="get" action="/busqueda">
      <input type="text" id="buscador" name="q" value="{{ termino }}" placeholder="Buscar productos" autocomplete="off">
      <button type="submit"><a href="{{url_for('busqueda')}}" class="icon"><i class="fa-solid fa-magnifying-glass fa-xl"></i></a></button>
    </form>

    <!--Mostrar los productos-->
    <div id="resultados"></div>
  </div>
  <br><br>


<!--Carrusel de anuncios--> 
   <div class="ads">
    <ul>
      <li><img src="{{url_for('static', filename= 'images/ad1.jpg')}}" alt=""></li>
      <li><img src="{{url_for('static', filename= 'images/ad2.jpg')}}" alt=""></li>
      <li><img src="{{url_for('static', filename= 'images/ad3.jpg')}}" alt=""></li>
      <li><img src="{{url_for('static', filename= 'images/ad4.jpg')}}" alt=""></li>
      <li><img src="{{url_for('static', filename= 'images/ad5.jpg')}}" alt=""></li>
    </ul>
   </div>
    <br><br><br><br><br>

    <!--Informacion de la empresa y el sitio web-->
    <footer>
      <p>@PriceSeeker <br> Todos los derechos reservados 2024</p>
    </footer>

  <!--Script para arreglar la coso de las categorias-->
  <script src="{{ url_for('static', filename='js/fix-category.js')}}"></script>

</body>
<!--Script para el buscador -->
<script src="{{ url_for('static', filename='js/busquedaRealTime.js') }}"></script>
</html>