<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio|PriceSeeker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-ads.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-banner.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-menu.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-perfil.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-searcher.css')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body style="background-color:#d9d9d9; margin:0">
  <!--Banner/menu de arriba-->
    <div class="banner">
        <div class="logo">
            <img src="{{url_for('static', filename= 'images/ND.jpeg')}}" alt="Logo">
            <span class="nombre_sitio">
                PriceSeeker
            </span>
        </div>

  <!--Listas-->
        <div class="lista" style="display: flex; width:65%">
          <a href="{{url_for('listas')}}" style="margin-left: auto; font-size: 25px; color: white; font-family: Jacques Francois-Regular; text-decoration: none;">
              Mis listas
          </a>
        </div>

  <!--Perfil de usuario-->
        <div class="perfil">
          <button>                                                          
            <i class="fa-solid fa-user fa-2xl" style="color: #ffffff; padding-right:15px;"></i>
          </button>
          
  <!--Menu desplegable de la cuenta-->
          <div class="content">
            <a href="{{url_for('cuenta')}}" class="options" style="padding-right: 10px;">Cuenta</a>
            <a href="{{url_for('logout')}}" class="options" style="padding-right: 10px;">Cerrar Sesión</a>
          </div>
        </div>
    </div> 

<!--Menu desplegable de las categorias -->
    <div class="menu">                      <!--arreglar el boton a solo mostrar con click-->
      <button>
        <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i>  
      </button>
      <div class="content">
        <a href="{{url_for('busqueda')}}"class="cat">Frutas y verduras<i class="fa-solid fa-apple-whole fa-lg" style="padding-left: 50px;"></i></a>
        <a href="{{url_for('busqueda')}}"class="cat">Lácteos<i class="fa-solid fa-cheese fa-lg" style="padding-left: 50px;"></i></a>
        <a href="{{url_for('busqueda')}}"class="cat">Congelados<i class="fa-solid fa-ice-cream fa-lg" style="padding-left: 50px;"></i></a>
        <a href="{{url_for('busqueda')}}"class="cat">Carnes Frías<i class="fa-solid fa-drumstick-bite fa-lg" style="padding-left: 50px;"></i></a>
        <a href="{{url_for('busqueda')}}"class="cat">Artículos de limpieza<i class="fa-solid fa-broom fa-lg" style="padding-left: 50px;"></i></a>
        <a href="{{url_for('busqueda')}}"class="cat">No percederos<i class="fa-solid fa-jar fa-lg" style="padding-left: 50px;"></i></a>
        <a href="{{url_for('busqueda')}}"class="cat">Deli<i class="fa-solid fa-bacon fa-lg" style="padding-left: 50px;"></i></a>
      </div>
    </div>

    <br><br>

  <!--Buscador-->
    <div class="buscador" style="text-align: center;">
      <input type="text" placeholder="Buscar producto...">
      <button>
        <a href="{{url_for('busqueda')}}" class="icon">
          <i class="fa-solid fa-magnifying-glass fa-xl"></i>
        </a>
      </button>
    </div>
    <br><br>

<!--Carrusel de anuncios--> 
   <div class="ads">
    <ul>
      <li><img src="{{url_for('static', filename= 'images/ND.jpeg')}}" alt=""></li>
      <li><img src="{{url_for('static', filename= 'images/ND.jpeg')}}" alt=""></li>
      <li><img src="{{url_for('static', filename= 'images/ND.jpeg')}}" alt=""></li>
      <li><img src="{{url_for('static', filename= 'images/ND.jpeg')}}" alt=""></li>
      <li><img src="{{url_for('static', filename= 'images/ND.jpeg')}}" alt=""></li>
    </ul>
   </div>
    <br><br><br><br><br>

    <!--Informacion de la empresa y el sitio web-->
    <footer style="padding-top: 20px; padding-bottom: 10px; background-color: #357600; color: white; text-align: center; margin-bottom: 0;">
      <p>@PriceSeeker <br> Todos los derechos reservados 2024</p>
    </footer>
  
</body>
</html>