<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto|PriceSeeker</title>
    <link rel="stylesheet" href="style-banner.css">
    <link rel="stylesheet" href="style-searcher.css">
    <link rel="stylesheet" href="style-product.css">
    <link rel="stylesheet" href="style-characteristics.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body style="background-color: #d9d9d9;">
    
    <!--Banner/menu de arriba-->
<div class="banner">
    <div class="logo">
      <img src="Img/ND.jpeg" alt="Logo">
      <span class="nombre_sitio"><a href="inicio_ss.html" class="nombre_sitio">
            PriceSeeker
          </a>
        </span>
    </div>

    <!--Buscador-->
    <div class="buscador" style="text-align: center; display: flex; padding-right: 5%;">
        <input type="text" placeholder="Producto..."><button><a href="busqueda_ss.html" class="icon"><i class="fa-solid fa-magnifying-glass fa-xl"></i></a></button>
      </div>
  
      <div class="perfil" style="display: flex;"> 
        <a href= "iniciar_sesion.html" style="padding-right:15px;">                                                      
              Iniciar Sesion
        </a>
      </div>
  </div> 
  <br><br>
<!--------------------------------------------------------------------------------------------------------------------------------------->
<div class="producto">
  <div class="image">
    <img src="Img/ND.jpeg" alt="Imagen del producto">
  </div>
  <div class="details">
    <h2 class="nombre">Nombre producto</h2>
    <br><br>
    <div class="precios">
      <span class="p_actual">Precio actual</span>
      <span class="p_original">Precio original</span>
      <br><br><br><br>
    </div>
    <div class="boton">
    <button class="add">Añadir a lista</button>
    </div>
  </div>
</div>

    <footer style="padding-top: 20px; padding-bottom: 10px; background-color: #357600; color: white; text-align: center; margin-bottom: 0;">
      <p>@PriceSeeker <br> Todos los derechos reservados 2024</p>
    </footer>
</body>
</html>