<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto|PriceSeeker</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-banner.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-searcher.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-product.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-characteristics.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-recommendation.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body style="background-color: #d9d9d9;">
    
    <!--Banner/menu de arriba-->
<div class="banner">
    <div class="logo">
      <img src="/static/images/logo.png" alt="Logo">
      <span class="nombre_sitio"><a href="{{url_for('inicio')}}" class="nombre_sitio">
            PriceSeeker
          </a>
        </span>
    </div>

    <!--Buscador-->
    <div class="buscador" style="text-align: center; display: flex; padding-left: 12%;">
      <form method="get" action="/busqueda">
        <input type="text" id="buscador" name="q" value="{{ termino }}" placeholder="Buscar productos" autocomplete="off">
        <button type="submit"><a href="{{url_for('busqueda')}}" class="icon"><i class="fa-solid fa-magnifying-glass fa-xl"></i></a></button>
      </form>
  
      <!--Mostrar los productos-->
      <div id="resultados"></div>
    </div>

    <div class="lista" style="display: flex;">
      <button>
        <i class="fa-solid fa-clipboard-list fa-2xl" style="color:#ffffff;"></i>
      </button>
      <!-- Crear una lista -->
      <div class="content">
        {% if mensaje %}
          {{mensaje}}
        {% endif %}
        <form action="/crear_lista" method="post">
        <input type="text" required name="nombre_lista" placeholder="Nombre de la lista">
        <button type="submit">Crear lista</button></form>
      </div>
    </div>

    <div class="perfil">
      <button>                                                          
        <i class="fa-solid fa-user fa-2xl" style="color: #ffffff; padding-right:15px;"></i>
      </button>

      <!--Menu desplegable de la cuenta-->
      <div class="content">
        <a href="{{url_for('cuenta')}}" class="options" style="padding-right: 10px;">Cuenta</a>
        <a href="{{url_for('logout')}}" class="options" style="padding-right: 10px;">Cerrar Sesión</a>
      </div>
    </div>  
  </div> 
  <br><br>

  <div class="producto">
    <div class="image">
      {% if not producto.imagen %}
        <img src="/static/images/ND.jpeg" alt="">
      {% else %}
        <img src="{{ producto.imagen }}" alt="Imagen del producto">
      {% endif %}
    </div>
    <div class="details">
      <h2 class="nombre">{{ producto.descripcion }}</h2>
      <br><br>
        <div class="precios">
          <span class="p_actual"> {{ producto.precio_actual }} </span>
          <span class="p_original">{{ producto.precio_normal }}</span>
          <br><br><br><br>
        </div>
        <div class="boton">
          <button class="add">Añadir a lista</button>
        </div>
    </div>
<br><br><br>

<div class="recommendations">
  <!-- Cada producto similar se renderiza dentro de este div --> 
  {% for similar in recomendaciones[:4] %}
    <div class="card">
        <div class="r-image">
          {% if not similar.imagen %}
            <img src="/static/images/ND.jpeg">
            {% else %}
            <img src="{{ similar.imagen }}" alt="">
          {% endif %}
        </div>
        <div class="r-details">
          <span class="r-name">{{ similar.descripcion }}</span>
          <span class="r-price">{{ similar.precio_actual }}</span>
          <a href="/producto/{{ similar.id_producto }}" class="boton-ver-mas">Ver más</a>
        </div>
    </div>
  {% endfor %}
</div>
<br><br><br><br>

<footer style="padding-top: 20px; padding-bottom: 10px; background-color: #357600; color: white; text-align: center; margin-bottom: 0;">
<p>@PriceSeeker <br> Todos los derechos reservados 2024</p>
</footer>

</body>
</html>