/* Contenedor principal en formato grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Configura las columnas */
    gap: 40px; /* Espacio entre tarjetas */
    padding: 20px;
}

/* Tarjeta individual en formato horizontal */
.product1 {
    grid-column: 2;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px #8b8b8b;
}

.product2 {
    grid-column: 3;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px #8b8b8b;
}

.product3 {
    grid-column: 4;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px #8b8b8b;
}

/* Imagen en la tarjeta */
.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: flex;
    margin-right: 20px;
    border-radius: 5px;
}

/* Contenido de la tarjeta */
.content {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    font-family: 'Jacques Francois, regular';
    color: #000000;
}

.desc {
    font-size: 14px;
    margin: 4px 0;
    color: #333;
    font-family: 'Jacques Francois, regular';
    color: #000000
}

.pre {
    font-size: 14px;
    margin: 4px 0;
    color: #000000;
    font-family: 'Jacques Francois, regular';

}

.text {
    font-size: 14px;
    margin: 4px 0;
    color: #333;
    font-family: 'Jacques Francois, regular';
    color: #69b62c;
}