  .perfil button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.perfil a{
    display: block;
    font-family: 'Jaques Francois, regular';
    font-size: 25px;
    color: #8B8B8B;
    text-decoration: none;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.perfil .content{
    display: none;
    position: absolute;
    background-color: #d9d9d9;
    min-width: 100px;
    box-shadow: 2px 2px 5px #000;
    right: 10px;
}

.perfil:hover .content{
    display:block;
}

.options {
    outline: none;
    color: inherit;
    user-select: none;
 }
 
 .options:hover{
    color: #8B8B8B;
 }