<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta|PriceSeeker</title>
    <style>                                                     /*Imagen como fondo del sitio web*/
        body {
            background-image: url(Img/BG\ 1.jpeg);              /*Seleccionar la imagen*/
            background-size: cover;                             /*Espacio a ocupar*/                     
            background-repeat:repeat-y;                         /*Para que se repita respecto a la altura*/                                             
            height: 100vh;                                                            
            margin: 0;                                          /*Distancia entre el margen y el contenido*/
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
    <h1 style="font-family: Italiana, serif; color: white; background-color: #6CCB20; padding-top: 15px; padding-bottom: 15px; text-align: center; font-size: 40px;"> 
        PriceSeeker
    </h1>                           
    <br>

    <!--Div para el cuadro donde contiene lo necesario para que le usuario pueda crear una cuenta-->
    <div class="container" style= "width: 450px; height: 720px; background-color: white; border-radius: 30px;">     
        <div class="card-body">                                   

            <form class="form-group"> 
                <!--El usuario pueda ingresar informacion personal-->
                <div class="IniS">
                    <label for="exampleInputName" style="font-family: Jacques Francois-Regular; color: #8B8B8B; font-size: 15px;">
                        Nombre(s)
                    </label>       
                    <input style="border-radius: 15px;" type="text" class="form-control" id="exampleInputName">
                </div>
                <br>
                <div class="IniS">
                    <label for="exampleInputLP" style="font-family: Jacques Francois-Regular; color: #8B8B8B; font-size: 15px;">
                        Apellido Paterno
                    </label>       
                    <input style="border-radius: 15px;" type="text" class="form-control" id="exampleInputLP">
                </div>
                <br>
                <div class="IniS">
                    <label for="exampleInputLM" style="font-family: Jacques Francois-Regular; color: #8B8B8B; font-size: 15px;">
                        Apellido Materno
                    </label>       
                    <input style="border-radius: 15px;" type="text" class="form-control" id="exampleInputLM">
                </div>
                <br>
                <!--El usuario pueda ingresar su correo electrónico para el sitio web-->
                <div class="IniS">
                    <label for="exampleInputEmail" style="font-family: Jacques Francois-Regular; color: #8B8B8B; font-size: 15px;">
                        Correo electrónico
                    </label>       
                    <input style="border-radius: 15px;" type="email" class="form-control" id="exampleInputEmail">
                </div>
                <br>
                <!--El usuario pueda crear una contraseña para el sitio-->
                <div class="IniS">
                    <label for="exampleInputPassword" style="font-family: Jacques Francois-Regular; color: #8B8B8B; font-size: 15px;">
                        Contraseña
                    </label>       
                    <input style="border-radius: 15px;" type="password" class="form-control" id="exampleInputLP">
                </div>
                <br>
                <!--El usuario pueda ingresar su numero de celular-->
                <div class="IniS">
                    <label for="exampleInputCellphone" style="font-family: Jacques Francois-Regular; color: #8B8B8B; font-size: 15px;">
                        Número de celular
                    </label>       
                    <input style="border-radius: 15px;" type="tel" class="form-control" id="exampleInputCellphone">
                </div>
                <br>
                <!--Reglamento de privacidad y esas cosas-->
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck">
                    <label style="font-family: Jacques Francois-Regular; color: #8B8B8B; font-size: 12px;" class="form-check-label"for="exampleCheck">
                        He leído y estoy de acuerdo con los Términos de Privacidad...
                    </label>
                </div>
            </form>
            <br>              

            <!--El usuario pueda guardar esa informacion y ser direccionado a la pagina de inicio-->
            <div style="text-align: center;">
                <button style="background-color: #6CCB20; padding: 5px 100px; border-radius: 15px; border-color: #6CCB20; cursor: pointer;" type="submit" class="btn btn-primary">
                    <a style="color: white; font-size: 20px; font-family: Jacques Francois-Regular;" href="Inicio_CS.html">
                        Registrar
                    </a>
                </button>
            </div> 
        </div>
    </div>
    <br>

    <!--Informacion de la empresa y el sitio web-->
    <footer style="padding-top: 20px; padding-bottom: 10px; background-color: #357600; color: white; text-align: center; margin-bottom: 0;">
        <p>@PriceSeeker <br> Todos los derechos reservados 2024</p>
    </footer>
    
</body>
</html>